* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


main {
  display: flex;
  padding: 2rem;
}

.header-box{
  width: 100%;
  height: 100px;
  background-color: rgb(218, 125, 125);
  display: flex;
  justify-content: center;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-size: 20px;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input[type="text"] {
  all: unset;
  width: 400px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
  font-size: 16px;
}

.search-bar input[type="image"] {
  position: absolute;
  margin-left: 350px;
  z-index: 100;
}


.nav-bar img{
    margin-right: 30px;
}

.sidebar{
  position: absolute;
  height: 80vh;
  background-color: rgb(227, 223, 215);
  width: 20%;
  color: rgb(46, 46, 46);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: all 1s;
  right: -100%;
  overflow-y: auto;
}


.sidebar.active{
  right: 0;
}

.sidebar h1{
  width: 70%;
  padding: 50px 0;
  color: rgb(43, 42, 42);
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.section{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0px 0 50px;
  margin-bottom: 20px;
}

.sidebar h3{
  background-color: rgb(218, 125, 125); 
  width: 100%;
  text-align: center;
  height: 30px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  width: 80%;
  height: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover {
  background-color: rgba(255, 187, 103, 0.741);
  border-radius: 5px;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(89, 198, 133);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slider-title{
  text-align: center;
  font-weight: 600;
}

.button {
  background-color: rgb(218, 125, 125);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  margin: 20px 0 5px 0;
  cursor: pointer;
}

.button p{
  padding: 10px 50px 10px 50px;
}

.summary-card{
  height: 600px;
  width: 96%;
  background-color: #eee;
  border-radius: 50px;
  margin-left: 2%;
}
